.form {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form h3 {
  margin-bottom: 20px;
}


.btnBox {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.sureBox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sureBox h4 {
  margin: 0 0 15px;
  text-align: center;
}